.blend {
   color: #FFFFFF;
   text-decoration: underline;
}

body {
   background: #FFFFFF;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 90%
}
   
td {
   font-size: 90%;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
   text-decoration: none;
}

input {
   font-size: 12px;
}

select {
   font-size: 12px;
}

p {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
   padding-left: 1em;
}

p.code {
   padding-left: .1em;
}

.likepre {
   font-size: 120%;
   border: 1px groove #006000;
   background: #EEFFCC;
   padding-top: 1em;
   padding-bottom: 1em;
   white-space: pre;
}

blockquote {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
}

dl {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
}

dt {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
   padding-left: 2em;
}

ul {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
}

li {
   font-size: 90%;
}


ol {
   color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: normal;
}

h1 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: #DC143C;
}

h2 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: bold;
   color: #DC143C;
}

h3 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #DC143C;
   border-left: 0.2em solid darkGreen;
   padding-left: 0.5em;
}        

h4 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #DC143C;
   background: #ffffff;
   border: 1px groove black;
   padding: 2px, 0px, 2px, 1em;
}    

pre {
   background: #E7F1FF;
   border: 1px groove #006000;
   padding-top: 5px;
   padding-bottom: 5px;
   white-space: pre;
}

hr {
   border: 1px solid #006000;
}

tt {
   font-size: 120%;
}

code {
   background: #FCFFDC;
   border: 0px solid black;
   padding: 0px, 4px, 0px, 4px;
}

kbd {
   font-size: 120%;
}
 
a:link {
   color: #0000CD;
   text-decoration: underline;
}

a:visited {
   color: #8B4513;
   text-decoration: underline;
}

a:hover {
   color: #000000;
   text-decoration: underline;
}

a:active {
   color: #00525C;
   text-decoration: underline;
   font-weight: bold;
}

td.block {
   font-size: 10pt;
   background: #FFA500;
   color: #000080;
   border: 1px dotted #006000;
   font-weight: bold;
}  

